<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <title>About Myself!</title>
    </head>

    <body>
        <%- include('partials/navbar', {page: '/about'}) %>
        
        <div class="container mx-auto">
            <div class="hero bg-base-200 min-h-screen">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">About Me...</h1>
                        <p class="py-6">
                            Welcome to my personal website! This page is ALL ABOUT ME!
                            Welcome to my World!!!
                        </p>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
                <!--card 1-->
                <div class="card w-96 bg-base-100 shadow-xl">
                    <figure>
                        <img class="w-full" src="/image/1.JPG" alt="Myself" />
                    </figure>
                    <hr>
                    <figure>
                        <img class="w-full" src="/image/2.JPG" alt="My best friend" />
                    </figure>
                </div>
                <!--card 2-->
                <div class="card w-96 bg-base-100 shadow-xl">
                    <div class="card-body">
                        <h2 class="card-title">Who am I?</h2>
                        <h3>In short, "conclude" with MBTI: I'm an <em>INFP</em>!</h3>
                        <p>My name is Gretchen, a CPA student in 3rd semester(no suprise huh?). </p>
                        <p>I have a tons of hobbies: one of them is snowboarding. Two years ago I got left wrist fracture - luckily it's completely healed, and I believe "Scars are the badges of the brave".</p>
                        <p>In my daily life, I keep a hand-written dairy. Though it takes me pretty long to complete (could be one or two hours for each), I enjoy this as it's a conversation between me and my soul.
                            No matter the thoughts are positive or negative, no matter this memory is happy or sad, I value them as they made me ME. 
                        </p>

                        <div class="card-actions justify-end">
                        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
            

    </body>
</html>

